@import "variable";

body {
  font: 100% $font-stack;
  color: $primary-color;
}

.container {
  clear: both;
}

.category-container {
  float: left;
  width: 50%;
}

.task-container {
  background-color: $task-bg-color;
  width: 50%;
  float: right;
}